<!DOCTYPE html>
<html lang="en,ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>
<p th:text="#{view-library-option}">Please Library Option</p>
<h3 th:text="#{lang-switcher-header}">Select language</h3>
<div>
    <div><a href="#" th:href="@{/(lang=en)}" th:text="#{en-lang-switch-button-caption}">EN</a></div>
    <div><a href="#" th:href="@{/(lang=ru)}" th:text="#{ru-lang-switch-button-caption}">RU</a></div>
</div>
<ol>
    <li><a href="list.html" th:href="@{/list}" th:text="#{view-books-list}">View Books</a></li>
    <li><a href="edit.html" th:href="@{/books/edit}">Edit List</a></li>
    <li><a href="search.html" th:href="@{/search}">Search Book </a></li>
<!--    <li><a href="userprofile.html" th:href="@{/userprofile}">See User Profile</a></li>-->
</ol>
</body>
</html>